* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#icons {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#icons i {
  font-size: 25px;
}

#icons > div {
  width: calc(100% / 5 - 80px);
  padding: 15px 30px;
  border: 2px solid;
  border-radius: 10px;
  margin: 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animal {
  color: blue;
}

.user {
  color: purple;
}

.vegetable {
  color: orange;
}
